---
swagger: "2.0"
info:
  description: "MobileServicesManagement APIs\n\n   ---\n     \n ## [Source view](https://app.swaggerhub.com/apis/kpn/MobileServicesManagement-KPN/)<br/>\n [Documentation view](https://app.swaggerhub.com/apis/kpn/MobileServicesManagement-KPN/)\n \n ---\n \n ## [KPN API Store](https://developer.kpn.com/)<br/>\n [Getting Started](https://developer.kpn.com/getting-started)\n \n\n ---"
  version: v11
  title: MobileServicesManagement-KPN
  termsOfService: https://developer.kpn.com/legal
  contact:
    name: API Support
    url: https://developer.kpn.com/support
    email: api_developer@kpn.com
host: api-prd.kpn.com
basePath: /mobile/kpn/mobileservices
tags:
- name: rest-address-controller
  description: Rest Address Controller
- name: rest-contract-controller
  description: Rest Contract Controller
- name: rest-threshold-controller
  description: Rest Threshold Controller
- name: rest-business-voice-mail-controller
  description: Rest Business Voice Mail Controller
- name: rest-contracting-controller
  description: Rest Contracting Controller
- name: rest-separate-fixed-mobile-controller
  description: Rest Separate Fixed Mobile Controller
- name: rest-template-controller
  description: Rest Template Controller
- name: rest-invoice-controller
  description: Rest Invoice Controller
- name: rest-hierarchy-controller
  description: Rest Hierarchy Controller
- name: rest-subscriber-controller
  description: Rest Subscriber Controller
- name: rest-user-controller
  description: Rest User Controller
- name: rest-block-sim-controller
  description: Rest Block Sim Controller
- name: rest-contract-terminate-controller
  description: Rest Contract Terminate Controller
- name: rest-hardware-enrollment-controller
  description: Rest Hardware Enrollment Controller
- name: rest-order-controller
  description: Rest Order Controller
- name: rest-track-and-trace-controller
  description: Rest Track And Trace Controller
schemes:
- https
paths:
  /track-and-trace/orders:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get order list
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getOrdersUsingGET
      produces:
      - '*/*'
      parameters:
      - name: currentUserOrdersOnly
        in: query
        required: false
        type: boolean
        default: false
        x-example: false
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        type: integer
        format: int32
        x-example: 0
      - name: order
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: patterns
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: sortBy
        in: query
        required: false
        type: string
        enum:
        - CREATION_DATE
        - STATUS
        - KPN_REFERENCE
        - ORDERED_FOR
        - CUSTOMER_REFERENCE
      - name: status
        in: query
        required: true
        type: array
        items:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        collectionFormat: multi
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        type: integer
        format: int32
        x-example: 20
      - name: withRequiredActionFirst
        in: query
        required: false
        type: boolean
        default: true
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PagedResult_Order_'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/orders/{id}:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get order details
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getOrderDetailsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderDetails1'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/orders/{id}/cancel:
    post:
      tags:
      - rest-track-and-trace-controller
      summary: Cancel order
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: cancelOrderUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: note
        in: query
        description: note
        required: false
        type: string
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/orders/{id}/hardware:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get list of hardware which was ordered in the order with the given id
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getHardwareForOrderUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Hardware'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/orders/{id}/porting-data:
    post:
      tags:
      - rest-track-and-trace-controller
      summary: Change port in date or customer number
      description: "Endpoint allows to change both : customer number and wish date in one request or change only one parameter. \nThere are several possibility to set data:\n| newWishDate | asap | customerNumber | result                              |\n|-------------|--------|----------------|-------------------------------------|\n| date        | false  | null           | change only wish date               |\n| null        | true   | null           | change only wish date to ASAP       |\n| null        | true   | number         | change customer number and wishDate |\n| date        | false  | number         | change customer number and wishDate |\n| date        | true   |   *            | validation error                    |\n| null        | false  | null           | validation error                    |\n\n<strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>"
      operationId: changePortingDataUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: data
        description: data
        required: true
        schema:
          $ref: '#/definitions/ChangePortingData'
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/orders/{id}/pretty:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get order details in pretty form
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getPrettyOrderDetailsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PrettyOrderDetails'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/overview:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get number of orders grouped by orders type
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getOverviewUsingGET
      produces:
      - '*/*'
      parameters: []
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            additionalProperties:
              type: integer
              format: int64
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/returned-hardware-service-requests:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get return hardware service requests list
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getReturnedHardwareServiceRequestUsingGET
      produces:
      - '*/*'
      parameters:
      - name: currentUserOrdersOnly
        in: query
        required: false
        type: boolean
        default: false
        x-example: false
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        type: integer
        format: int32
        x-example: 0
      - name: order
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: patterns
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: status
        in: query
        required: true
        type: array
        items:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        collectionFormat: multi
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        type: integer
        format: int32
        x-example: 20
      - name: withRequiredActionFirst
        in: query
        required: false
        type: boolean
        default: true
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PagedResult_ReturnedHardwareServiceRequests_'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/service-requests:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get service requests list
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getServiceRequestsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: Content-Language
        in: header
        description: Content-Language
        required: false
        type: string
      - name: currentUserOrdersOnly
        in: query
        required: false
        type: boolean
        default: false
        x-example: false
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        type: integer
        format: int32
        x-example: 0
      - name: order
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: patterns
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: sortBy
        in: query
        required: false
        type: string
        enum:
        - CREATION_DATE
        - STATUS
        - KPN_REFERENCE
        - REQUEST_BY
        - REQUEST_FOR
        - TYPE
        - CUSTOMER_REFERENCE
      - name: status
        in: query
        required: true
        type: array
        items:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        collectionFormat: multi
        enum:
        - IN_PROGRESS
        - UNAUTHORIZED
        - NEW
        - CLOSED
        - CANCELED
        - REJECTED
        - DRAFT
        - THIRD_PARTY
        - HOLD_CUSTOMER
        - WAITING
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        type: integer
        format: int32
        x-example: 20
      - name: withRequiredActionFirst
        in: query
        required: false
        type: boolean
        default: true
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PagedResult_ServiceRequest_'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/service-requests/{id}:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get service requests details
      description: |-
        The possible keys of `attributes` map in response object:<div style='max-height: 400px; overflow: auto; width: 100%'>
        <dl>
        <dt><b>Attribute name</b></dt><dd><b>Meaning</b></dd>
        <dt>login</dt><dd>Login</dd>
        <dt>roles</dt><dd>Roles</dd>
        <dt>firstName</dt><dd>First name</dd>
        <dt>lastName</dt><dd>Last name</dd>
        <dt>surnamePrefix</dt><dd>Surname prefix</dd>
        <dt>email</dt><dd>E-mail</dd>
        <dt>dateOfBirth</dt><dd>Date of birth</dd>
        <dt>vip</dt><dd>VIP</dd>
        <dt>employeeNumber</dt><dd>Employee number</dd>
        <dt>gender</dt><dd>Gender</dd>
        <dt>salutation</dt><dd>Salutation</dd>
        <dt>preferredLanguage</dt><dd>Preferred language</dd>
        <dt>comments</dt><dd>Comments</dd>
        <dt>accesspointNameMSISDN</dt><dd>Mobile number</dd>
        <dt>accesspointNameSIM</dt><dd>SIM card number</dd>
        <dt>accesspointNameIMSI</dt><dd>IMSI</dd>
        <dt>IMEI</dt><dd>IMEI</dd>
        <dt>Hanset_IMEI_number</dt><dd>IMEI</dd>
        <dt>accesspointNameFixedNumber</dt><dd>Fixed Number</dd>
        <dt>activeTo</dt><dd>Active to</dd>
        <dt>contractName</dt><dd>Subscription or device name</dd>
        <dt>totalOnetimePrice</dt><dd>One time price</dd>
        <dt>totalRecurrentPrice</dt><dd>Recurring price</dd>
        <dt>deferredPrice</dt><dd>Deferred price</dd>
        <dt>newUiccId</dt><dd>New SIM card number</dd>
        <dt>movedGroupName</dt><dd>Moved account</dd>
        <dt>subscriberAccountId</dt><dd>Old location</dd>
        <dt>destinationAccount</dt><dd>New location</dd>
        <dt>selectedDuoUiccid</dt><dd>Selected Duo SIM card number</dd>
        <dt>projectId</dt><dd>Project ID</dd>
        <dt>new_fixed_number</dt><dd>New fixed number</dd>
        <dt>new_desk_number</dt><dd>New extension</dd>
        <dt>oldUserGroupName</dt><dd>Previous user group</dd>
        <dt>newUserGroupName</dt><dd>New user group</dd>
        <dt>vpnName</dt><dd>VPN name</dd>
        <dt>deskNumber</dt><dd>Extension</dd>
        <dt>accesspointNameDeskNumber</dt><dd>Extension</dd>
        <dt>mobileAddress</dt><dd>Mobile number</dd>
        <dt>enterpriseName</dt><dd>Enterprise name</dd>
        <dt>enterpriseID</dt><dd>Enterprise ID</dd>
        <dt>mobilityGroupName</dt><dd>Fixed-Mobile PBX name</dd>
        <dt>userGroupName</dt><dd>User group</dd>
        <dt>enterpriseUserGroup</dt><dd>User group</dd>
        <dt>initialUserPrincipalName</dt><dd>User Principal Name</dd>
        <dt>sipAccountName</dt><dd>SIP account name</dd>
        <dt>accessInstanceAttributeinitialUserPrincipalName</dt><dd>User Principal Name</dd>
        <dt>accesspointNameQueuePhoneNumber</dt><dd>Queue phone number</dd>
        <dt>accesspointNameSipAccountName</dt><dd>SIP account name</dd>
        <dt>subscriptionAmount</dt><dd>New subscription amount</dd>
        <dt>contract_contact_name</dt><dd>Contract contact person (name)</dd>
        <dt>contract_contact_phone</dt><dd>Contract contact person (phone)</dd>
        <dt>contract_contact_mail</dt><dd>Contract contact person (mail)</dd>
        <dt>financial_contact_name</dt><dd>Financial contact person (name)</dd>
        <dt>financial_contact_phone</dt><dd>Financial contact person (phone)</dd>
        <dt>financial_contact_mail</dt><dd>Financial contact person (mail)</dd>
        <dt>technical_contact_name</dt><dd>Technical contact Person (name)</dd>
        <dt>technical_contact_phone</dt><dd>Technical contact Person (phone)</dd>
        <dt>technical_contact_mail</dt><dd>Technical contact Person (mail)</dd>
        <dt>deviceOption</dt><dd>Device option</dd>
        <dt>deviceType_label</dt><dd>Device type</dd>
        <dt>macAddress</dt><dd>Mac address</dd>
        <dt>deviceName</dt><dd>Device name</dd>
        <dt>sacGroupAccountId_label</dt><dd>Location account</dd>
        <dt>groupId</dt><dd>Location</dd>
        <dt>vGroupMovingToID</dt><dd>New location</dd>
        <dt>pbxName</dt><dd>PBX</dd>
        <dt>groupCitemId_label</dt><dd>Group</dd>
        <dt>Fixed</dt><dd>Alternate fixed number</dd>
        <dt>DeskNumber</dt><dd>Alternate extension</dd>
        <dt>billing_retention_period</dt><dd>Financial data retention period (months)</dd>
        <dt>managedGroupName</dt><dd>Authorized for</dd>
        <dt>subscriptionType</dt><dd>Subscription type</dd>
        <dt>CurrentNetworkOperator</dt><dd>Current network operator</dd>
        <dt>CurrentServiceProvider</dt><dd>Current service provider</dd>
        <dt>Customer_name_at_current_provider</dt><dd>Customer name at current provider</dd>
        <dt>Current_contract_number</dt><dd>Customer number at current provider</dd>
        <dt>UIccId</dt><dd>Current SIM card number</dd>
        <dt>Initials</dt><dd>Initials</dd>
        <dt>FamilyNamePrefix</dt><dd>Family name prefix</dd>
        <dt>FamilyName</dt><dd>Family name</dd>
        <dt>delivery_TT_id</dt><dd>Delivery Track&trace ID</dd>
        <dt>IsAppleDEP</dt><dd>Apple DEP</dd>
        <dt>IsSamsungKNOX</dt><dd>Samsung KNOX</dd>
        <dt>keepCurrentSim</dt><dd>Keep existing SIM card</dd>
        <dt>Note</dt><dd>Note</dd>
        <dt>Porting_wish_date</dt><dd>Preferred transition date</dd>
        <dt>returnReason</dt><dd>Reason for return</dd>
        <dt>returnRemarks</dt><dd>Remarks</dd>
        <dt>companyName</dt><dd>Company name</dd>
        <dt>companyNamePronounciation</dt><dd>Comapny name pronounciation</dd>
        <dt>businessVoiceMailMessageText</dt><dd>Chosen business voicemail message</dd>
        </dl>
        <div>
        <style type="text/css">  dl {
            display: flex;
            flex-flow: row wrap;
          }
          dt {
            flex-basis: 20%;
            text-align: right;
          }
          dd {
            flex-basis: 70%;
            flex-grow: 1;
          }
        </style>

        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getServiceRequestDetailsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ServiceRequestDetails'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/service-requests/{id}/attachments/{attachmentId}:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get attachment with given id and serviceRequestId
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: getAttachmentUsingGET
      produces:
      - application/json
      parameters:
      - name: attachmentId
        in: path
        description: attachmentId
        required: true
        type: integer
        format: int64
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Serializable'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /track-and-trace/service-requests/{id}/cancel:
    post:
      tags:
      - rest-track-and-trace-controller
      summary: Cancel service request
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_track_and_trace</li><li>privileges_orders_authorization</li></ul>
      operationId: cancelServiceReqestUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: note
        in: query
        description: note
        required: false
        type: string
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/apple-dep:
    post:
      tags:
      - rest-hardware-enrollment-controller
      summary: Register Apple Dep
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: registerAppleDepUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/HardwareEnrollmentRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/authorize:
    post:
      tags:
      - rest-order-controller
      summary: Authorize order
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_orders_authorization</li></ul>
      operationId: authorizeUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: authorizeRequest
        description: authorizeRequest
        required: true
        schema:
          $ref: '#/definitions/AuthorizeRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/block-sim:
    post:
      tags:
      - rest-block-sim-controller
      summary: Block sim for given contract
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: blockSimUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: blockSimRequest
        description: blockSimRequest
        required: true
        schema:
          $ref: '#/definitions/BlockSimRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/move:
    post:
      tags:
      - rest-order-controller
      summary: Move contract with given contractId to group with given destinationGroupId
      description: |-
        Wish date should be empty, current or in the future. Reference number cannot exceed 25 character. When individualBundle field is set as true in ContractDetails, user is supposed to set moveAddonBundles to true or false.Otherwise it will be used as false by default. If individualBundle is false, the value of the field moveAddonBundles will not be used.

        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: moveContractUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: moveContractRequest
        description: moveContractRequest
        required: true
        schema:
          $ref: '#/definitions/MoveContractRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/operations:
    get:
      tags:
      - rest-order-controller
      summary: Get information about operations available for given contract.
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: getAvailableOperationsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: contractId
        in: query
        description: contractId
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OperationsAvailability'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/porting-out:
    post:
      tags:
      - rest-order-controller
      summary: Port out contract
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: portingOutUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: portingOutRequest
        description: portingOutRequest
        required: true
        schema:
          $ref: '#/definitions/PortingOutRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/replace-sim:
    post:
      tags:
      - rest-order-controller
      summary: Replace sim for given contract
      description: |-
        If eSim is used email is mandatory.

        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: replaceSimUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: replaceSimRequest
        description: replaceSimRequest
        required: true
        schema:
          $ref: '#/definitions/ReplaceSimRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/replace-sim/validator:
    post:
      tags:
      - rest-order-controller
      summary: Validate if sim card number can be used in replace sim operation
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: validateUiccidUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: uiccidValidationData
        description: uiccidValidationData
        required: true
        schema:
          $ref: '#/definitions/UiccidValidationData'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/return-hardware:
    post:
      tags:
      - rest-order-controller
      summary: Return hardware
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: returnHardwareUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: returnHardwareRequest
        description: returnHardwareRequest
        required: true
        schema:
          $ref: '#/definitions/ReturnHardwareRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/samsung-knox:
    post:
      tags:
      - rest-hardware-enrollment-controller
      summary: Register Samsung Knox
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: registerSamsungKnoxUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/HardwareEnrollmentRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/terminate:
    post:
      tags:
      - rest-contract-terminate-controller
      summary: Terminate contract
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: terminateUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: terminateContractRequest
        description: terminateContractRequest
        required: true
        schema:
          $ref: '#/definitions/TerminateContractRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/terminate/termination-fee:
    get:
      tags:
      - rest-contract-terminate-controller
      summary: Get termination fee for giver contract and termination date
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: getTerminationFeeUsingGET
      produces:
      - '*/*'
      parameters:
      - name: contractId
        in: query
        description: contractId
        required: true
        type: integer
        format: int64
      - name: wishDate
        in: query
        description: wishDate
        required: true
        type: string
        format: date-time
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/TerminationFee'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/terminate/{contractId}/min-date:
    get:
      tags:
      - rest-contract-terminate-controller
      summary: Get first possible termination date for given contract
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: getMinFreeTerminationDateUsingGET
      produces:
      - '*/*'
      parameters:
      - name: contractId
        in: path
        description: contractId
        required: true
        type: integer
        format: int32
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            type: string
            format: date-time
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /order/unblock-sim:
    post:
      tags:
      - rest-block-sim-controller
      summary: Unblock sim for given contract
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li></ul>
      operationId: unblockSimUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: unblockSimOrder
        description: unblockSimOrder
        required: true
        schema:
          $ref: '#/definitions/UnblockSimRequest'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get immediate children of given parent hierarchy entity
      description: "Return all children of given hierarchy entity which user manages. If no parent id given it returns root entities.<br><br>When `operationType` is given API returns also information if operation is possible for each item. For some oprations possibilty information is returned in context of object or objects passed with `contextIds` or alternately a single `contextId` For example if user wants to check if he can move a hierarchy item , he should use `operationType=MOVE_GROUP`If user wants to check if he can move a chosen item to a different hierarchy entity, he should use `operationType=MOVE_GROUP` with `contextIds` set to ids of items to be moved.\nUp to 10 items can be passed using `contextIds`. Currently only MOVE_GROUP operation supports multiple context items, for others, only first item will be used\n<br>The request is validated. Possible validation errors: \n| HTTP code | Error code                 | Description                                                                                   |\n|-----------|----------------------------|-----------------------------------------------------------------------------------------------|\n| `400`     | `MISSING_CONTEXT_ID`       | `operationType` is given but `contextId` is null                                              |\n| `400`     | `OPERATION_NOT_POSSIBLE`   | Given operation (`operationType`) not possible for all hierarchy entities                     |\n| `404`     | `CONTEXT_OBJECT_NOT_FOUND` | Context object of given id (`contextId`) can not be found or current user has no access to it |\n<br>When operation can be performed for specific hierarchy entity in response there will be information like this below:\n```\n\"operation\": {\n    \"blocked\": false,\n}\n```\n<br>Otherwise, if operation can not be executed there will be information like below:\n```\n\"operation\": {\n    \"blocked\": true,\n    \"reason\": \"<REASON>\"\n}\n```\n<br>Possible values of reason for `operationType=MOVE_CONTRACT` (id of single chosen contract as context):\n| Reason                                           | Description                                                                                                                                       |\n|--------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------|\n| `FORBIDDEN_PARENT_FOR_PRODUCT`                   | This hierarchy entity type is not allowed to have contracts (only subscriber or debtor can have contracts).                                       |\n| `CANNOT_MOVE_TO_OLD_PARENT`                      | Cannot move contract to the same hierarchy entity (like from subscriber to the same subscriber).                                                  |\n| `FIXED_NUMBER_CANNOT_BE_MOVED_TO_THIS_VGROUP`    | Cannot move fix contract to hierarchy entity that already has fixed subscription (hierarchy entity may have contracted only one fix subscription) |\n| `ACCOUNT_BLOCKED`                                | Account is blocked for moving by a different order.                                                                                               |\n<br>Possible values of reason for `operationType=MOVE_GROUP` (without context):\n| Reason                                           | Description                                                       |\n|--------------------------------------------------|-------------------------------------------------------------------|\n| `WRONG_GROUP_TYPE`                               | Item of this type cannot be moved (applies to customer).          |\n| `CANNOT_MOVE_TEST_ACCOUNT`                       | Test employee accounts cannot be moved.                           |\n| `ACCOUNT_BLOCKED`                                | Moving operation is blocked by a different order                  |\n<br>Possible values of reason for `operationType=MOVE_GROUP` (ids of up to 10 moved item to move as context):\n| Reason                                           | Description                                                       |\n|--------------------------------------------------|-------------------------------------------------------------------|\n| `CANNOT_MOVE_TO_OLD_PARENT`                      | New parent can't be the same as old one.                          |\n| `GROUP_CANNOT_HAVE_CHILDREN`                     | This type of group can not have children.                         |\n| `CANNOT_MOVE_TO_MOVED_GROUP`                     | Destination group can not be the same as group that is being move |\n| `CANNOT_MOVE_TO_THIS_TYPE_OF_GROUP`              | Context group type can not be moved to this type of group.        |\n| `ONLY_SINGLE_TYPE_ALLOWED_IN_PATH`               | There can be only one entity of such type in path.                |\n| `REQUIRE_DEBTOR_IN_PATH`                         | Context group requires debtor above it.                           |\n| `CANNOT_MOVE_DEBTOR_UNDER_DEBTOR`                | Debtor can not be placed under another debtor.                    |\n| `CANNOT_MOVE_NON_SUBSCRIBER_BETWEEN_TWO_DEBTORS` | Only subscriber can be moved between debtors.                     |\n| `CANNOT_MOVE_TO_ANOTHER_IAM`                     | Can not move group between two differents company ids.            |\n<br>Possible values of reason for `operationType=ASSIGN_TO_HIERARCHY` (single manager employee id as context):\n| Reason                                           | Description                                      |\n|--------------------------------------------------|--------------------------------------------------|\n| `SUBSCRIBER_CANNOT_BE_ASSIGNED`                  | Subscriber cannot be assigned as managed entity. |\n| `GROUP_IS_ALREADY_ASSIGNED`                      | This group is already managed by given user.     |\n<br>Possible values of reason for `operationType=CREATE_COST_CENTER`:\n| Reason                                           | Description                                         |\n|--------------------------------------------------|-----------------------------------------------------|\n| `WRONG_GROUP_TYPE`                               | Cannot create cost center under this type of group. |\n| `REQUIRE_DEBTOR_IN_PATH`                         | Cost center requires debtor above it.               |\n| `ONLY_SINGLE_TYPE_ALLOWED_IN_PATH`               | There can be only one entity of such type in path.  |\n<br>Possible values of reason for `operationType=CREATE_CUSTOM_GROUP`:\n| Reason                                           | Description                                                |\n|--------------------------------------------------|------------------------------------------------------------|\n| `WRONG_GROUP_TYPE`                               | Cannot create virtual group as a child of given group type |\n<br>Possible values of reason for `operationType=REMOVE_GROUP`:\n| Reason                                           | Description                                                 |\n|--------------------------------------------------|-------------------------------------------------------------|\n| `WRONG_GROUP_TYPE`                               | Only custom group and cost center data can be modified.     |\n| `FORBIDDEN_PATH_WHEN_REMOVING`                   | Entity cannot be removed because that will cause error in items hierarchy. Exception is thrown when path in hierarchy is: ... -> CUSTOM_GROUP -> COST_CENTER -> CUSTOM_GROUP ... -> and user try to remove COST_CENTER. CUSTOM_GROUP cannot be under CUSTOM_GROUP.                                                                       |\n<br><strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_view</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>"
      operationId: getChildrenUsingGET
      produces:
      - '*/*'
      parameters:
      - name: contextId
        in: query
        required: false
        type: integer
        format: int64
      - name: contextIds
        in: query
        required: false
        type: array
        items:
          type: integer
          format: int64
        collectionFormat: multi
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        type: integer
        format: int32
        x-example: 0
      - name: id
        in: query
        required: false
        type: integer
        format: int64
      - name: includeCustomer
        in: query
        description: "Information if it should include customer. Default value: false."
        required: false
        type: boolean
        default: false
        x-example: false
      - name: includeGroups
        in: query
        description: "Information if it should include pure virtual groups. Default value: true."
        required: false
        type: boolean
        default: true
        x-example: true
      - name: operationType
        in: query
        required: false
        type: string
        enum:
        - MOVE_CONTRACT
        - MOVE_GROUP
        - ASSIGN_TO_HIERARCHY
        - CREATE_COST_CENTER
        - CREATE_CUSTOM_GROUP
        - REMOVE_GROUP
      - name: pattern
        in: query
        required: false
        type: string
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        type: integer
        format: int32
        x-example: 20
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PagedResult_VirtualHierarchyItem_'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children/cost-center:
    post:
      tags:
      - rest-hierarchy-controller
      summary: Create cost center
      description: "Create new cost center\nThe request is validated. Possible validation errors: \n| HTTP code | Error code                         | Description                                                  |\n|-----------|------------------------------------|--------------------------------------------------------------|\n| `400`     | `WRONG_GROUP_TYPE`                 | Cannot create cost center under this type of group           |\n| `400`     | `VALUE_NOT_UNIQUE`                 | `costCenterNumber` field must be unique                      |\n| `400`     | `ONLY_SINGLE_TYPE_ALLOWED_IN_PATH` | Only one cost center can be in path                          |\n| `400`     | `REQUIRE_DEBTOR_IN_PATH`           | Cost center requires debtor above it.                        |\n| `404`     | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found             |\n<strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>"
      operationId: createCostCenterUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: params
        description: params
        required: true
        schema:
          $ref: '#/definitions/CreateCostCenterRequestParams'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children/move:
    post:
      tags:
      - rest-hierarchy-controller
      summary: Move specified hierarchy items to the chosen location
      description: "Returns ids and summaries of generated service requests, if any where created.\nUp to 10 items can be moved at the same time\nWish date is applied only when moving employess between debtors. If part of the items are moved within the same debtor, wish date will be ignored for these.\nReference number is only supported when moving emplyees or business location items. Otherwise no service requests are created\nThe request is validated. Possible validation errors: \n| HTTP code | Error code                         | Description                                                           |\n|-----------|------------------------------------|-----------------------------------------------------------------------|\n| `403`     | `ORDERING_IS_BLOCKED_FOR_CUSTOMER` | Current customer is frozen and can not order anything                 |\n| `404`     | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | One of moved hierarchy items or destination location not found        |\n| `400`     | `OPERATION_NOT_POSSIBLE`           | At least one of provided items cannot be moved to chosen destination. |\n| `400`     | `WISH_DATE_NOT_SUPPORTED`          | Wish date is only supported when moving emplyees between debtor. This must apply to at least one of the moved objects                                                                     |\n| `400`     | `REFERENCE_NUMBER_NOT_SUPPORTED`   | Reference number is only supported when moving emplyees or  business location items.                                                                                                 |\n<strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_view</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>"
      operationId: moveHierarchyItemsUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: params
        description: params
        required: true
        schema:
          $ref: '#/definitions/MoveGroupsParams'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/BulkOrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children/operations:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get operations availability for logged user
      description: "Return all operations with availability and reason if blocked. \n| Reason                                         | Description                                                       |\n|------------------------------------------------|-------------------------------------------------------------------|\n| `NO_REQUIRED_PRIVILEGE`                        | User doesn't have required privilege                                   |\n| `NO_ENTITIES_TO_USE`                           | There is no entity to execute this action on                           |\n<strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_view</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>"
      operationId: getHierarchyOperationsUsingGET
      produces:
      - '*/*'
      parameters: []
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/HierarchyOperationsAvailability'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children/virtual-group:
    post:
      tags:
      - rest-hierarchy-controller
      summary: Create virtual group
      description: "Create new virtual group\nThe request is validated. Possible validation errors: \n| HTTP code | Error code                         | Description                                                |\n|-----------|------------------------------------|------------------------------------------------------------|\n| `400`     | `WRONG_GROUP_TYPE`                 | Cannot create virtual group as a child of given group type |\n| `404`     | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found           |\n<strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>"
      operationId: createVirtualGroupUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: params
        description: params
        required: true
        schema:
          $ref: '#/definitions/CreateVirtualGroupRequestParams'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children/{id}:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get hierarchy entity details
      description: |-
        Get details for organisation structure entitity with given `id`.
        Different set of attributes is returned for different entity types. Supported item types are:<ul><li>`CUSTOMER`</li><li>`DEBTOR`</li><li>`COST_CENTER`</li><li>`CUSTOM_GROUP`</li><li>`BUSINESS_LOCATION`</li></ul>Details for `SUBSCRIBER` are not supported. `subscribers/{id}` should be used instead.
        <br>Possible exceptions:
        | HTTP code | Error code                         | Description                                                  |
        |-----------|------------------------------------|--------------------------------------------------------------|
        | `400`     | `WRONG_GROUP_TYPE`                 | Item of unsupported type                                     |
        | `404`     | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Information for item with the given `id` cannot be found     |
        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_view</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>
      operationId: getDetailsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/HierarchyItemDetails'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
      - rest-hierarchy-controller
      summary: "Update hierarchy entity (cost center, custom group)"
      description: "Change custom group or cost center data\nThe request is validated. Possible validation errors: \n| HTTP code | Error code                         | Description                                                  |\n|-----------|------------------------------------|--------------------------------------------------------------|\n| `400`     | `WRONG_GROUP_TYPE`                 | Only custom group and cost center data can be modified       |\n| `400`     | `VALUE_REQUIRED`                   | `costCenterNumber` field is required for cost center         |\n| `400`     | `VALUE_NOT_UNIQUE`                 | `costCenterNumber` field must be unique within the customer  |\n| `404`     | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found             |\n<strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>"
      operationId: updateChildUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - in: body
        name: params
        description: params
        required: true
        schema:
          $ref: '#/definitions/UpdateChildRequestParams'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children/{id}/operations:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get operations availability for chosen item
      description: |-
        Get available operations for organisational hierarchy item with the given `id`.
        Possible operations are:<ul><li>`create subscriber`</li><li>`create cost center`</li><li>`create virtual group`</li><li>`edit item`</li><li>`move item`</li><li>`remove item`</li></ul>Operations for `SUBSCRIBER` are not supported. `subscribers/{id}/operations` should be used instead.
        <br>Possible exceptions:
        | HTTP code | Error code                         | Description                                                  |
        |-----------|------------------------------------|--------------------------------------------------------------|
        | `400`     | `WRONG_GROUP_TYPE`                 | Item of unsupported type                                     |
        | `404`     | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Information for item with the given `id` cannot be found     |
        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>
      operationId: getItemOperationsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/HierarchyItemOperationsAvailability'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/children/{id}/remove:
    post:
      tags:
      - rest-hierarchy-controller
      summary: "Remove hierarchy entity (cost center, custom group)"
      description: "Remove custom group or cost center data. The underlying end users and organizational units will be moved to the next highest item in the organizational structure.\nThe request is validated. Possible validation errors: \n| HTTP code | Error code                         | Description                                                  |\n|-----------|------------------------------------|--------------------------------------------------------------|\n| `400`     | `WRONG_GROUP_TYPE`                 | Only custom group and cost center data can be modified       |\n| `404`     | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found             |\n| `400`     | `FORBIDDEN_PATH_WHEN_REMOVING`     | Entity cannot be removed because that will cause error in items hierarchy. Exception is thrown when path in hierarchy is: ... -> CUSTOM_GROUP -> COST_CENTER -> CUSTOM_GROUP ... -> and user try to remove COST_CENTER. CUSTOM_GROUP cannot be under CUSTOM_GROUP.                                      |\n<strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>"
      operationId: removeGroupUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/grip-entities:
    get:
      tags:
      - rest-user-controller
      summary: Get all grip entities not linked to subscriber
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>
      operationId: getGripEntitiesUsingGET
      produces:
      - '*/*'
      parameters: []
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GripEntity'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/subscribers:
    get:
      tags:
      - rest-subscriber-controller
      summary: Find all subscribers whom user manages
      description: <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_view</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>
      operationId: findSubscribersUsingGET
      produces:
      - '*/*'
      parameters:
      - name: filters
        in: query
        description: "Possible columns:FIRSTNAME, LASTNAME, SURNAME_PREFIX, CONTRACTS, DEBTORNAME, FIXED_NUMBER, EMPLOYEE_NUMBER. For example: FIRSTNAME: \"abc\", \"abd\"; LASTNAME: \"add\", \"aad\""
        required: false
        type: string
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        type: integer
        format: int32
        x-example: 0
      - name: order
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: patterns
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: sortBy
        in: query
        required: false
        type: string
        enum:
        - FIRSTNAME
        - LASTNAME
        - DEBTORNAME
        - FIXED_NUMBER
        - EMPLOYEE_NUMBER
        - IS_USER
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        type: integer
        format: int32
        x-example: 20
      - name: userOnly
        in: query
        required: false
        type: boolean
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PagedResult_Subscriber_'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
      - rest-subscriber-controller
      summary: Create subscriber (with or without user)
      description: |-
        If you want to create both subscriber and user at the same time, you should fill userAdditionalInfo.
        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>
      operationId: createSubscriberUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/CreateSubscriberRequestParams'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/subscribers/link:
    post:
      tags:
      - rest-user-controller
      summary: Link existing subscriber to grip identity
      description: |-
        Possible errors when validating request:
         | ERROR CODE                                    | CODE  |DESCRIPTION |
        |-----------------------------------------------|-------|-------------------------------------------------------------------------------|
        | `ORDERING_IS_BLOCKED_FOR_CUSTOMER`            | `403` | Current customer is frozen and can not order anything                        .|
        | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND`            | `404` | given subscriber does not exist or user does not have access to him           |
        | `GRIP_ENTITY_NOT_FOUND`                       | `404` | given gripEntity does not exist or user does not have access to it            |
        | `ROLE_NOT_FOUND`                              | `404` | given role does not exist or user does not have access to it                  |
        | `MOBILE_OR_FIXED_NUMBER_IS_REQUIRED`          | `400` | mobile or fixed number must be passed in request                              |
        | `SUBSCRIBER_IS_ALREADY_USER`                  | `400` | given subscriber is already an user                                           |

        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>
      operationId: linkSubscriberToGripIdentityUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: params
        description: params
        required: true
        schema:
          $ref: '#/definitions/LinkSubscriberToGripRequestParams'
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OrderSummary'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/subscribers/roles:
    get:
      tags:
      - rest-user-controller
      summary: Get all roles
      operationId: getAllRolesUsingGET
      produces:
      - '*/*'
      parameters:
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        type: integer
        format: int32
        x-example: 0
      - name: order
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
      - name: pattern
        in: query
        required: false
        type: string
      - name: sortBy
        in: query
        required: false
        type: string
        enum:
        - NAME
        - SELECTED
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        type: integer
        format: int32
        x-example: 20
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PagedResult_Role_'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/subscribers/roles/{roleId}/privileges:
    get:
      tags:
      - rest-user-controller
      summary: Get privileges for given role
      operationId: getRolePrivilegesUsingGET
      produces:
      - '*/*'
      parameters:
      - name: roleId
        in: path
        description: roleId
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /hierarchy/subscribers/{id}:
    get:
      tags:
      - rest-subscriber-controller
      summary: Get subscriber details
      description: |-
        Operations availability will be removed. Please use 'subscribers/{id}/operations' instead
        <strong>Required privileges</strong> (one of the following):</strong><ul><li>privileges_un-authorized_orders_creation</li><li>privileges_orders_authorization</li><li>privileges_virtual_hierarchy_view</li><li>privileges_virtual_hierarchy_management</li><li>privileges_bulk_upload_data_of_end_user</li></ul>
      operationId: getSubscriberDetailsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/SubscriberDetails'
[...]
